<!DOCTYPE html>
<html>
<head>
    <title>Bursting Calculator</title>
    <!-- Add your CSS file link here -->
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        body {
            background-image: url("/images/backgrounds/osrs_background.png");
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Bursting Calculator</h1>
        <div class="button-container">
            <a th:href="@{/level-goal}" class="btn">Time to reach Level</a>
            <a th:href="@{/xp-hour}" class="btn">Xp/Hour Calculator</a>
        </div>
    </div>
</body>
</html>
