<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bursting Calculator</title>
    <!-- Add your CSS file link here -->
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="mw-body">
    <script src="https://kit.fontawesome.com/b88730ab5f.js" crossorigin="anonymous"></script>
    <a href="/" class="home-button">
        <i class="fa fa-home"></i>
    </a>
    <h1 th:text="${message}"></h1>
    <div class="dropdown">
        <button onclick="toggleHelmetDropdown()" class="dropbtn">
            <span id="selected-helmet-text">Helmet</span>
            <span class="arrow-icon"></span>
        </button>
        <div id="helmet-dropdown-content" class="dropdown-content">
            <input type="text" id="helmet-search-input" placeholder="Search..." oninput="filterHelmetItems()">
            <a href="#" onclick="selectHelmetItem('Helmet', '')">Helmet</a>
            <div id="helmet-item-list">
                <!-- Dynamically populate the helmet dropdown items using Thymeleaf -->
                <div th:each="item : ${items}">
                    <a href="#" th:text="${item.name}" th:data-name="${item.name}" th:data-image="${item.imageUrl}" onclick="selectHelmetItem(this.getAttribute('data-name'), this.getAttribute('data-image'))"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <button onclick="toggleAmuletDropdown()" class="dropbtn">
            <span id="selected-amulet-text">Amulet</span>
            <span class="arrow-icon"></span>
        </button>
        <div id="amulet-dropdown-content" class="dropdown-content">
            <input type="text" id="amulet-search-input" placeholder="Search..." oninput="filterAmuletItems()">
            <a href="#" onclick="selectAmuletItem('Amulet', '')">Amulet</a>
            <div id="amulet-item-list">
                <!-- Dynamically populate the amulet dropdown items using Thymeleaf -->
                <div th:each="item : ${items}">
                    <a href="#" th:text="${item.name}" th:data-name="${item.name}" th:data-image="${item.imageUrl}" onclick="selectAmuletItem(this.getAttribute('data-name'), this.getAttribute('data-image'))"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <button onclick="toggleCapeDropdown()" class="dropbtn">
            <span id="selected-cape-text">Cape</span>
            <span class="arrow-icon"></span>
        </button>
        <div id="cape-dropdown-content" class="dropdown-content">
            <input type="text" id="cape-search-input" placeholder="Search..." oninput="filterCapeItems()">
            <a href="#" onclick="selectCapeItem('Cape', '')">Cape</a>
            <div id="cape-item-list">
                <!-- Dynamically populate the cape dropdown items using Thymeleaf -->
                <div th:each="item : ${items}">
                    <a href="#" th:text="${item.name}" th:data-name="${item.name}" th:data-image="${item.imageUrl}" onclick="selectCapeItem(this.getAttribute('data-name'), this.getAttribute('data-image'))"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <button onclick="toggleWeaponDropdown()" class="dropbtn">
            <span id="selected-weapon-text">Weapon</span>
            <span class="arrow-icon"></span>
        </button>
        <div id="weapon-dropdown-content" class="dropdown-content">
            <input type="text" id="weapon-search-input" placeholder="Search..." oninput="filterWeaponItems()">
            <a href="#" onclick="selectWeaponItem('Weapon', '')">Weapon</a>
            <div id="weapon-item-list">
                <!-- Dynamically populate the weapon dropdown items using Thymeleaf -->
                <div th:each="item : ${items}">
                    <a href="#" th:text="${item.name}" th:data-name="${item.name}" th:data-image="${item.imageUrl}" onclick="selectWeaponItem(this.getAttribute('data-name'), this.getAttribute('data-image'))"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <button onclick="toggleTorsoDropdown()" class="dropbtn">
            <span id="selected-torso-text">Torso</span>
            <span class="arrow-icon"></span>
        </button>
        <div id="torso-dropdown-content" class="dropdown-content">
            <input type="text" id="torso-search-input" placeholder="Search..." oninput="filterTorsoItems()">
            <a href="#" onclick="selectTorsoItem('Torso', '')">Torso</a>
            <div id="torso-item-list">
                <!-- Dynamically populate the torso dropdown items using Thymeleaf -->
                <div th:each="item : ${items}">
                    <a href="#" th:text="${item.name}" th:data-name="${item.name}" th:data-image="${item.imageUrl}" onclick="selectTorsoItem(this.getAttribute('data-name'), this.getAttribute('data-image'))"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <button onclick="toggleShieldDropdown()" class="dropbtn">
            <span id="selected-shield-text">Shield</span>
            <span class="arrow-icon"></span>
        </button>
        <div id="shield-dropdown-content" class="dropdown-content">
            <input type="text" id="shield-search-input" placeholder="Search..." oninput="filterShieldItems()">
            <a href="#" onclick="selectShieldItem('Shield', '')">Shield</a>
            <div id="shield-item-list">
                <!-- Dynamically populate the shield dropdown items using Thymeleaf -->
                <div th:each="item : ${items}">
                    <a href="#" th:text="${item.name}" th:data-name="${item.name}" th:data-image="${item.imageUrl}" onclick="selectShieldItem(this.getAttribute('data-name'), this.getAttribute('data-image'))"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <button onclick="toggleLegsDropdown()" class="dropbtn">
            <span id="selected-legs-text">Legs</span>
            <span class="arrow-icon"></span>
        </button>
        <div id="legs-dropdown-content" class="dropdown-content">
            <input type="text" id="legs-search-input" placeholder="Search..." oninput="filterLegsItems()">
            <a href="#" onclick="selectLegsItem('Legs', '')">Legs</a>
            <div id="legs-item-list">
                <!-- Dynamically populate the legs dropdown items using Thymeleaf -->
                <div th:each="item : ${items}">
                    <a href="#" th:text="${item.name}" th:data-name="${item.name}" th:data-image="${item.imageUrl}" onclick="selectLegsItem(this.getAttribute('data-name'), this.getAttribute('data-image'))"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <button onclick="toggleGlovesDropdown()" class="dropbtn">
            <span id="selected-gloves-text">Gloves</span>
            <span class="arrow-icon"></span>
        </button>
        <div id="gloves-dropdown-content" class="dropdown-content">
            <input type="text" id="gloves-search-input" placeholder="Search..." oninput="filterGlovesItems()">
            <a href="#" onclick="selectGlovesItem('Gloves', '')">Legs</a>
            <div id="gloves-item-list">
                <!-- Dynamically populate the legs dropdown items using Thymeleaf -->
                <div th:each="item : ${items}">
                    <a href="#" th:text="${item.name}" th:data-name="${item.name}" th:data-image="${item.imageUrl}" onclick="selectGlovesItem(this.getAttribute('data-name'), this.getAttribute('data-image'))"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <button onclick="toggleBootsDropdown()" class="dropbtn">
            <span id="selected-boots-text">Boots</span>
            <span class="arrow-icon"></span>
        </button>
        <div id="boots-dropdown-content" class="dropdown-content">
            <input type="text" id="boots-search-input" placeholder="Search..." oninput="filterBootsItems()">
            <a href="#" onclick="selectBootsItem('Boots', '')">Boots</a>
            <div id="boots-item-list">
                <!-- Dynamically populate the boots dropdown items using Thymeleaf -->
                <div th:each="item : ${items}">
                    <a href="#" th:text="${item.name}" th:data-name="${item.name}" th:data-image="${item.imageUrl}" onclick="selectBootsItem(this.getAttribute('data-name'), this.getAttribute('data-image'))"></a>
                </div>
            </div>
        </div>
    </div> 
    <div class="dropdown">
        <button onclick="toggleRingDropdown()" class="dropbtn">
            <span id="selected-ring-text">Ring</span>
            <span class="arrow-icon"></span>
        </button>
        <div id="ring-dropdown-content" class="dropdown-content">
            <input type="text" id="ring-search-input" placeholder="Search..." oninput="filterRingItems()">
            <a href="#" onclick="selectRingItem('Ring', '')">Ring</a>
            <div id="ring-item-list">
                <!-- Dynamically populate the ring dropdown items using Thymeleaf -->
                <div th:each="item : ${items}">
                    <a href="#" th:text="${item.name}" th:data-name="${item.name}" th:data-image="${item.imageUrl}" onclick="selectRingItem(this.getAttribute('data-name'), this.getAttribute('data-image'))"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <button onclick="toggleLocationDropdown()" class="dropbtn">
            <span id="selected-location-text">Select Location</span>
            <span class="arrow-icon"></span>
        </button>
        <div id="location-dropdown-content" class="dropdown-content">
            <a href="#" onclick="selectLocation('Smoke Dungeon')">Smoke Dungeon</a>
            <a href="#" onclick="selectLocation('MM Tunnels')">MM Tunnels</a>
            <a href="#" onclick="selectLocation('Catacombs of Kourend')">Catacombs of Kourend</a>
            <!-- Add more location options here -->
        </div>
    </div>
    <div class="dropdown">
        <button onclick="toggleMonsterDropdown()" class="dropbtn">
            <span id="selected-monster-text">Select Monster</span>
            <span class="arrow-icon"></span>
        </button>
        <div id="monster-dropdown-content" class="dropdown-content">
            <!-- This will be dynamically populated based on the selected location -->
        </div>
    </div>
    <div class="label">
        <label id="monster-label"></label>
    </div>
    <div class="label">
      <label for="magic-level-input" id="magic-level-label">Magic Level:</label>
      <input type="number" id="magic-level-input" min="62" max="99">
    </div>
    <div class="spell-selection">
      <div class="dropdown">
        <button onclick="toggleSpellDropdown()" class="dropbtn">
          <span id="selected-spell-text">Select Spell </span>
          <span class="spellbook-icon"></span>
        </button>
        <div id="spell-dropdown-content" class="dropdown-content">
          <a href="#" onclick="selectSpell('Spell 1')">Spell 1</a>
          <a href="#" onclick="selectSpell('Spell 2')">Spell 2</a>
          <a href="#" onclick="selectSpell('Spell 3')">Spell 3</a>
          <!-- Add more spell options here -->
        </div>
      </div>
    </div>
    
    <table class="equipment equipment-right">
        <tbody>
            <tr>
                <td>
                    <div class="equipment-div">
                        <div id="equipment-head" class="equipment-head">
                            <div class="equipment-plinkp" id="equipment-plinkp-helmet">
                                <a id="helmet-link" th:title="${selectHelmetItem}">
                                    <img id="helmet-image" decoding="async" style="width: 100%;">
                                </a>
                            </div>
                        </div>
    
                        <div id="equipment-amulet" class="equipment-amulet">
                            <div class="equipment-plinkp" id="equipment-plinkp-amulet">
                                <a id="amulet-link" th:title="${selectAmuletItem}">
                                    <img id="amulet-image" decoding="async" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                        
                        <div id="equipment-cape" class="equipment-cape">
                            <div class="equipment-plinkp" id="equipment-plinkp-cape">
                                <a id="cape-link" th:title="${selectCapeItem}">
                                    <img id="cape-image" decoding="async" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                        
                        <div id="equipment-weapon" class="equipment-weapon">
                            <div class="equipment-plinkp" id="equipment-plinkp-weapon">
                                <a id="weapon-link" th:title="${selectWeaponItem}">
                                    <img id="weapon-image" decoding="async" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                        
                        <div id="equipment-torso" class="equipment-torso">
                            <div class="equipment-plinkp" id="equipment-plinkp-torso">
                                <a id="torso-link" th:title="${selectTorsoItem}">
                                    <img id="torso-image" decoding="async" style="width: 100%;">
                                </a>
                            </div>
                        </div>

                        <div id="equipment-shield" class="equipment-shield">
                            <div class="equipment-plinkp" id="equipment-plinkp-shield">
                                <a id="shield-link" th:title="${selectShieldItem}">
                                    <img id="shield-image" decoding="async" style="width: 100%;">
                                </a>
                            </div>
                        </div>

                        <div id="equipment-legs" class="equipment-legs">
                            <div class="equipment-plinkp" id="equipment-plinkp-legs">
                                <a id="legs-link" th:title="${selectLegsItem}">
                                    <img id="legs-image" decoding="async" style="width: 100%;">
                                </a>
                            </div>
                        </div>

                        <div id="equipment-gloves" class="equipment-gloves">
                            <div class="equipment-plinkp" id="equipment-plinkp-gloves">
                                <a id="gloves-link" th:title="${selectGlovesItem}">
                                    <img id="gloves-image" decoding="async" style="width: 100%;">
                                </a>
                            </div>
                        </div>
    
                        <div id="equipment-boots" class="equipment-boots">
                            <div class="equipment-plinkp" id="equipment-plinkp-boots">
                                <a id="boots-link" th:title="${selectBootsItem}">
                                    <img id="boots-image" decoding="async" style="width: 100%;">
                                </a>
                            </div>
                        </div>

                        <div id="equipment-ring" class="equipment-ring">
                            <div class="equipment-plinkp" id="equipment-plinkp-ring">
                                <a id="ring-link" th:title="${selectRingItem}">
                                    <img id="ring-image" decoding="async" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <script src="script.js"></script>
</body>
</html>
