<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bursting Calculator</title>
    <!-- Add your CSS file link here -->
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="mw-body">
    <script src="https://kit.fontawesome.com/b88730ab5f.js" crossorigin="anonymous"></script>
    <a href="/" class="home-button">
        <i class="fa fa-home"></i>
    </a>
    <h1 th:text="${message}"></h1>
    <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn">
            <span id="selected-item-text">Helmet</span>
        </button>
        <div id="dropdown-content" class="dropdown-content">
            <input type="text" id="search-input" placeholder="Search..." oninput="filterItems()">
            <a href="#" onclick="selectItem('Helmet', '')">Helmet</a>
            <div id="item-list">
                <!-- Dynamically populate the dropdown items using Thymeleaf -->
                <div th:each="item : ${items}">
                    <a href="#" th:text="${item.name}" th:data-name="${item.name}" th:data-image="${item.imageUrl}" onclick="selectItem(this.getAttribute('data-name'), this.getAttribute('data-image'))"></a>
                </div>
            </div>
        </div>
    </div>
    

    <table class="equipment equipment-right">
    <tbody>
        <tr>
            <td>
                <div class="equipment-div">
                    <div id="equipment-head" class="equipment-head">
                        <div class="equipment-plinkp" id="equipment-plinkp">
                            <a id="helmet-link" th:title="${selectedItemText}">
                                <img id="helmet-image" decoding="async" width="30" height="27" data-file-width="30" data-file-height="27">
                            </a>
                        </div>
                    </div>
                    
    
                    <!-- Add more table cells (td) and their contents here -->
                </div>
            </td>
        </tr>
    </tbody>
</table>

    <!-- Add your JavaScript file link here -->
    <script src="script.js"></script>
</body>
</html>
